<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
<p>
 

<div>
  <%= image_tag(@playlist.picture, style: 'width:200px;height:auto') %>
</div>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', musics_path %>
<%= link_to "Delete playlist" ,@playlist , method: :delete , data: { confirm: 'Are you sure?' } %>

<p> <%= link_to 'Add musics to playlist', new_playlists_music_path(:playlist_id => @playlist.id) %> </p>
<% PlaylistMusic.where(playlist_id: @playlist.id).each do |p_m| %>
  <div class="list-group">
    <%= link_to "/musics/#{p_m["music_id"]}", :class =>"list-group-item-action active" do %>
      <div>
        <b class="h5"> <%= Music.where(id:p_m["music_id"]).first.name %> </b>
        <p> <%= Music.where(id:p_m["music_id"]).first.artist %> </p>
        <%= link_to "x" ,"/playlists_musics/#{p_m.id}" ,
            method: :delete , data: { confirm: 'Are you sure?' }, :class=>"btn btn-dark btn-sm" %>
      </div>
    <% end %>
  </div>
<% end %>