<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
<p>
 

<div>
  <%= image_tag(@playlist.picture, style: 'width:200px;height:auto') %>
</div>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', musics_path %> |
<%= link_to "Delete playlist" ,@playlist , method: :delete , data: { confirm: 'Are you sure?' } %>

<p> <%= link_to 'Add musics to playlist', get_all_music_playlist_path(:playlist_id => @playlist.id) %> </p>
<div class="list-group" style="width:300px">
  <% @playlist.musics.each do |p_m| %>
    <%= link_to "/musics/#{p_m.id}", :class=>"list-group-item" do %>
      <h5 stlye="font-weight:bold"> <%= p_m.name %> </h5>
      <p> <%= p_m.artist %> </p>
    <% end %>
  <% end %>
</div>