<div class="form">
  <%= bootstrap_form_for(@music) do |form| %>
    <% if music.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(music.errors.count, "error") %> prohibited this music from being saved:</h2>

        <ul>
          <% music.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.text_field :artist %>
    </div>

    <div class="field">
      <%= form.file_field :mp3 ,accept: 'audio/mp3,audio/mpeg'%>
    </div>
    <div class="actions">
      <%= form.primary %>
    </div>
  <% end %>
</div>