<p id="notice"><%= notice %></p>
<div class="right-side">
  <%= link_to "<button class='btn btn-sm btn-secondary'>back</button>".html_safe ,root_path %>  
</div>
<div class="container">
  <h1>Musics</h1>

    <div class="list-group list-group-mine" style="width:300px">
      <% @musics.each do |music| %>
        <%= link_to music, :class=>"list-group-item" do %>
          <h5 stlye="font-weight:bold"> <%= music.name %> </h5>
          <p> <%= music.artist  %> </p>
        <% end %>
      <% end %>
    </div>
  <br>
  <%= link_to "<button class='btn btn-primary btn-sm'>New music</button>".html_safe, new_music_path %>
</div>
