<p id="notice"><%= notice %></p>
<div>
  <h1>Musics</h1>

    <div class="list-group" style="width:300px">
      <% @musics.each do |music| %>
        <%= link_to music, :class=>"list-group-item" do %>
          <h5 stlye="font-weight:bold"> <%= music.name %> </h5>
          <p> <%= music.artist  %> </p>
         <% end %>
      <% end %>
    </div>
  <br>
  <%= link_to 'New Music', new_music_path %>
</div>

<div>
  <p class="h1">Playlists</p>
  
    <% @playlists.each do |playlist| %>
      <div class="card" style="width: 15rem; display:'flex'">
        <div class="card-body">
          <div style="width:200px; height:auto" >
            <%= image_tag(playlist.picture, width:"100%" , :class => "card-img-top" ) %>
          </div>
          <%= link_to playlist.name , playlist%>
        </div>
      
      </div>
    <% end %>
  
  <%= link_to 'New Playlist', new_playlist_path %>      
</div>