<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @music.name %>
<p>
  <strong>Artist:</strong>
  <%= @music.artist %>

<div>
  <audio controls autoplay>
  
    <source src="<%= rails_blob_url(@music.mp3) %>" type="audio/mpeg"/>
  </audio>
</div>


<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
